body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #C4A381;
}

.btn {
  background-color: #EEF1BD;
  border-radius: 5px;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-left: auto;
  display: block;
}

.container {
  width: 1200px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.row {
  padding: 0px 20px;
}

.nav {
  padding: 20px 0px;
  background-color: #644536;
  margin-bottom: 50px;
}





.google-info {
  text-align: center;
}